.SICKANIMATION {
	width: 100%;
	height: 100%;
	background: url("laptop.png");
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;

}

.animationtext {
	color: white;
    margin-top: 0px;
    padding-left: 20px;
    padding-top:300px;
    font-size: 125px;
    text-align: left;
            animation: fadein 6s;
    font-family: 'Cormorant Garamond', serif;
}
.subtext {
	color: white;
	padding-left: 20px;
    font-size: 60px;
    text-align: left;
            animation: fadein 6s;
    font-family: 'Cormorant Garamond', serif;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}	

.navhome {
	padding: 0px;
	font-weight: bold;
	font-family: 'Cormorant Garamond', serif;
	text-align: center;
	box-shadow:  0px 10px 7px -8px rgba(82,82,82,1);

}
.nav {
	border-bottom-style: solid;
	border-bottom-width: 1px;
	font-size: 18px;

}
.navhome:hover {
	color: #b95d8c;
	font-size: 20px;
}
@media screen and (min-width:0px) {
	
}

.aboutlink { 
		padding-left: 30px;
		padding-top: 30px;

 }

 .aboutheader {
 	font-size: 60px;
 	text-align: center;
 	font-family: 'Cormorant Garamond', serif;
 	border-bottom-style: solid;
 	border-bottom-width: 1px;
 }
#SPO {
	float: left;
	margin-right: 30px;
}

.abouttext {
	font-family: 'Cormorant Garamond', serif;
	font-size: 20px;

}

.contactheader {
	font-family: 'Cormorant Garamond', serif;
	font-size: 60px;
	text-align: center;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}
.contacttext {
	font-family: 'Cormorant Garamond', serif;
	font-size: 25px;
	padding-left: 30px;
}
.Phonenumber {
font-family: 'Cormorant Garamond', serif;
	font-size: 20px;
	padding-left: 30px;
}
.Email {
	font-family: 'Cormorant Garamond', serif;
	font-size: 20px;
	padding-left: 30px;
}

a:link {
	color: black;
	}
a:visited {
	color: black;
}

a:hover {
	color: black;
	text-decoration: none;
}
a:active {
	color: black;
	text-decoration: none;
}
